.git
.github
.vscode
.devcontainer

node_modules
npm-debug.log*
yarn-error.log*
.pnpm-store

/.cache
/coverage
/.nyc_output
/dist
/build
/tmp
/temp

.env
.env.*
docker-compose.override.yml

dev/containers
dev/helm
dev/openshift
dev/packer
dev/cypress
cypress.json
